* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
}
:root {
  --border: 2px solid #93272e;
  --bg1: rgba(207, 207, 207, 0.527);
  --bg2: black;
  --btn: #83212b;
  --btn2: rgb(161, 87, 94);
  --shadow: 0 0 8px rgba(255, 136, 0, 0.64);
}
body {
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
}
/* animasi scroll */
/* body > * {
  opacity: 0;
  transform: translateY(30px);
  transition: 0.7s ease;

}
body > *.active {
  opacity: 1;
  transform: translateY(0);
} */
.bg-slider {
  position: fixed;
  inset: 0;
  z-index: -2;
  background-size: cover;
  background-position: right center;
  background-repeat: no-repeat;
  animation: pan 10s linear infinite;
  transition: opacity 1s ease;
}

@keyframes pan {
  from {
    background-position: right center;
  }
  to {
    background-position: left center;
  }
}
.bg-overlay {
  position: fixed;
  inset: 0;
  z-index: -1;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}

/* font */
h1 {
  font-family: "Ephesis", cursive;
  font-size: clamp(70px, 10vw, 150px);
  letter-spacing: 10px;
}
h1 span {
  font-size: clamp(50px, 10vw, 75px);
}
h2 {
  font-family: "Ephesis", cursive;
  font-size: clamp(10px, 10vw, 100px);
}
p {
  font-size: clamp(13px, 2vw, 20px);
}
.arabic {
  font-size: clamp(17px, 2vw, 29px);
}
/* COVER */
.cover {
  position: fixed;
  inset: 0;
  background-image: url(img/asepdanwindy.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  padding-bottom: 50px;
  transition: transform 1.2s ease;
  z-index: 10;
}
/* overlay gradient */
.cover::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.1) 70%,
    var(--btn) 100%
  );
  z-index: 1;
}

.cover > * {
  position: relative;
  z-index: 2;
}
.cover h1 {
  font-size: 36px;
  margin-bottom: 10px;
  text-shadow: 2px 2px var(--btn);
}

.cover button {
  margin: 10px;
  padding: 12px 30px;
  background: var(--btn);
  color: rgb(255, 255, 255);
  font-size: 16px;
  cursor: pointer;
  border-radius: 15px;
}
.cover small {
  font-size: clamp(10px, 1vw, 50px);
}

body.open .cover {
  transform: translateY(-100%);
}

body.open .content {
  opacity: 1;
}

body.open {
  overflow-y: auto;
}

/* MAIN CONTENT */
.content {
  padding: 50px 0 100px;
  opacity: 0;
  transition: opacity 1.2s ease;
  text-align: center;
  background: white;
}

/* hal ayat */
.ayat {
  text-align: center;
  padding: 50px 20px 100px;
  background: var(--btn);
  color: white;
  position: relative;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 50px 50px 0 0;
  margin-top: -50px;
}

/* calon mempelai */
.calonmempelai {
  background: linear-gradient(
    to bottom,
    rgb(255, 255, 255) 0%,
    rgb(255, 255, 255) 1%,
    rgba(255, 255, 255, 0.5) 50%,
    rgb(255,255,255) 99%,
    rgb(255,255,255) 100%
  );
  color: var(--btn);
  position: relative;
  padding: 70px 0;
  justify-content: center;
  text-align: center;
  border-radius: 50px 50px 0 0;

  margin-top: -50px;
}

.pria,
.wanita {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.foto {
  width: 200px;
  background: var(--btn);
  padding: 7px 7px 50px;
  display: block;
  border-radius: 5px;
}
.ig {
  display: inline-block;
  align-items: center;
  gap: 10px;
  padding: 7px 13px;
  margin-top: -40px;
  background: white;
  color: var(--btn);
  border-radius: 15px;
  font-size: 13px;
}

.ig i {
  margin-right: 5px;
}
.calonmempelai h2 {
  margin: 20px auto;
  font-size: clamp(10px, 8vw, 90px);
}

.calonmempelai p {
  margin: 20px;
  color: black;
}

hr {
  width: 100%;
  max-width: clamp(200px, 80%, 1000px);
  height: 1px;
  border: none;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.2);
  margin: 20px auto;
}

/* countdown */
#countdown {
  display: flex;
  justify-content: space-evenly;
  background: var(--btn);
  color: white;
}
.time-box {
  width: 90px;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* detail acara */
.detail-acara {
  max-width: 100%;
  text-align: flex-start;
  background: rgba(255, 0, 0, 0.3);
  padding: 0 10px 40px;
  overflow: hidden;
}

.detail-acara h2 {
  padding: 40px;
  text-align: center;
  color: white;
}
.acara-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}

.acara-box {
  /* background: #fff; */
  background: linear-gradient(
    to bottom,
    var(--btn) 60px,
    white 60px,
    white 100px
  );
  padding: 25px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 0 20px;
}

/* h3 ke kanan */
.judul-kanan {
  display: flex;
  justify-content: center;
  font-size: 13px;
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
}

/* isi */
.info .label {
  font-weight: bold;
  font-size: 14px;
  color: #555;
}

.info .isi {
  line-height: 1.5;
}

/* button maps */
.btn-maps {
  margin-top: auto;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 12px;
  border-radius: 10px;
  background: var(--btn);
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  transition: 0.3s;
}

.btn-maps:hover {
  opacity: 0.8;
}

/* streaming */
.streaming {
  display: flex;
  gap: 12px;
  margin-top: 20px;
}

.btn-stream {
  flex: 1;
  padding: 12px;
  border-radius: 10px;
  text-decoration: none;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 13px;
}

.btn-stream.tiktok {
  background: #000;
}

.btn-stream.youtube {
  background: #ff0000;
}

/* love story kisah kami*/
.lovestory {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
  padding: 40px;
}
.lovestory h2,
.lovestory h3 {
  color: var(--btn);
  margin: 20px auto;
}
.storytext {
  text-align: center;
  /* background-color: transparent;
  backdrop-filter: blur(15px);
  border-radius: 20px;
  padding: 15px; */
}
.storytext h4 {
  font-size: 15px;
  margin-top: 15px;
}
.lovestory img {
  width: 220px;
  border-radius: 20px;
  margin: 20px auto;
}
/* fotofoto */
.moments {
  padding: 40px;
  width: 100%;
  margin: auto;
  background: white;
}

.moments h2 {
  text-align: center;
  color: var(--btn);
  padding-bottom: 40px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.card {
  border-radius: 15px;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* gift kado */
/* ==========================================gifts ========== */
.gift-section {
  text-align: center;
  padding: 20px;
  background: rgba(255, 0, 0, 0.3);
}

.gift-section .amplop {
  color: white;
}

.btn-copy {
  margin-top: 10px;
  padding: 10px 18px;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  background: var(--btn);
  font-family: "Montserrat", cursive;
}

.logobank {
  width: 40px;
}
.logodana {
  width: 80px;
}
.gift-box {
  background: rgb(255, 255, 255);
  border-radius: 15px;
  padding: 20px;
  max-width: 200px;
  margin: 20px auto;
}

/* konfirmasi kehadiran */

.rsvp {
  background: white;
  text-align: center;
}
.rsvp {
  padding: 20px;
  text-align: center;
  background: white;
}

.rsvp h2 {
  font-size: 2rem;
  margin-bottom: 8px;
}

#rsvp-form {
  max-width: 400px;
  margin: auto;
  padding: 30px;
  background: #ffffff;
  border-radius: 20px;
}

.form-group {
  text-align: left;
  margin-bottom: 20px;
}

.form-group input {
  border: none;
}
.form-group label {
  font-weight: 600;
  margin-bottom: 6px;
  display: block;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 10px 12px;
  border-radius: 12px;
  border: var(--border);
  font-size: 1rem;
}

.form-group input:focus,
.form-group select:focus {
  outline: none;
  border-color: rgb(214, 2, 2);
}

.btn-submit {
  width: 100%;
  padding: 12px;
  background: var(--btn);
  color: white;
  border: none;
  border-radius: 15px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

/* komentar */
.komentar-section {
  padding: 8px 20px;
  background-color: white;
}

.komentar-section h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 32px;
}

#formKomentar {
  max-width: 400px;
  margin: auto;
  padding: 30px;
  background: #fff;
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 400px;
  margin: 0 auto 30px;
}

#formKomentar input,
#formKomentar textarea {
  width: 100%;
  padding: 10px;
  border-radius: 12px;
  border: var(--border);
  font-size: 1rem;
  font-family: "Montserrat", cursive;
}

#formKomentar textarea {
  resize: none;
  height: 90px;
}

#formKomentar button {
  width: 100%;
  padding: 12px;
  border-radius: 15px;
  background: var(--btn);
  color: white;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  font-family: "Montserrat", cursive;
}

.status {
  text-align: center;
  margin-top: 12px;
  font-size: 14px;
}

.status.success {
  color: #158d00;
}

.status.error {
  color: #ff0808;
}

/*  */
#commentsList {
   max-width: 300px;
  margin: 20px 20px 20px;
  max-height: 500px;       
  overflow-y: auto;         
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-right: 6px;
}
#commentsList::-webkit-scrollbar {
  width: 5px;
}
#commentsList::-webkit-scrollbar-thumb {
  background: var(--btn);
  border-radius: 10px;
}
.comment-item {
  padding: 14px;
  border-radius: 10px;
  background: rgba(255, 142, 142, 0.438);
  max-width: 100%;
  box-sizing: border-box;
  overflow-wrap: break-word;
}
.comment-item h4 {
  margin: 0 0 6px;
  font-size: 14px;
  font-weight: bold;
}

.comment-item p {
  margin: 0;
  font-size: 13px;
  line-height: 1.4;
}


.comment-name {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 6px;
  color: #ffd86b;
  /*  */
  white-space: normal;
  overflow-wrap: break-word;
}

.comment-text {
  font-size: 13px;
  line-height: 1.6;
  color: #000000;
  white-space: normal; /* IZINKAN TURUN BARIS */
  overflow-wrap: break-word; /* PATAHKAN kata panjang */
  word-wrap: break-word;
  word-break: normal;
  line-height: 1.6;
}

#formKomentar input:focus,
#pesanKomentar:focus,
#formKomentar select:focus {
  outline: none;
  border-color: rgb(214, 2, 2);
}
/* notifikasi berhasil di kirim */
.status {
  display: none;
  text-align: center;
  margin-top: 12px;
  padding: 10px;
  border-radius: 12px;
  font-size: 14px;
}

.status.success {
  display: block;
  background: #e6ffe6;
  color: #158d00;
}

.status.error {
  display: block;
  background: #ffe6e6;
  color: #c70000;
}

/* footer */
.footer {
  text-align: center;
  color: white;
  background: var(--btn);
}

.footer h2,
.footer p {
  padding: 20px;
}
.footer h2 {
  letter-spacing: 6px;
}

.footer p {
  margin: 0;
}

footer {
  background-color: var(--btn);
  color: rgb(255, 255, 255);
  padding-bottom: 10px;
}
/* music control */
#musicControl {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: var(--btn);
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
  z-index: 20;
}
